<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Pagina simpatica de presentacion al usuario -->
    <h1>Bienvenidos al himalaya</h1>
    <ul>
        <li>Instrucciones</li>
        <li>01</li>
        <li>02</li>
        <li>03</li>
    </ul>
    <!-- Lo que yo quiero hacer aca es con un metodo post activar la camara para leer el codigo de barra -->
    <form action="/" method="post">
        <input type="text" name="test" id="">
        <button>Mandar</button>
    </form>
    <!-- Async: hello, world!
    Await: get barcode-->
</body>
</html>